@(message: String)

@main("Welcome to Play") {
 <!DOCTYPE html>
<html>
<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>  -->
    <center>
      <style>
body {
   
}
</style>
    <form action="@routes.Application.custreg" method="post">
    <table>
    
    
    
    <tr>
    <td> Name</td>
    <td>
    <input type="text" name="name" required="required">
    </td>
    </tr>
    <tr>
    <td>Mobile Number</td>
    <td>
    <input type="text" pattern="[7-9]{1}[0-9]{9}" name="mobile" required="required">
    </td>
    </tr>
    <tr>
    <td> email</td>
    <td><input type="text" name="email" required="required">
    </td>
    </tr>
     <tr>
    <td> password</td>
    <td><input type="password" name="password" required="required">
    </td>
    </tr>
    </table>
    <table>
   <!--    <tr>
 <div class="container">
  <h2>source</h2>                                    
  <div class="dropdown" name="source" required="required">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">hyd</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">gachibowli</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">sec</a></li>
    </ul>
  </div>
</div>
</tr> -->
 <tr>
    <td></td>
    <td><button type="reset" value="Reset">reset</button>
    <button type="submit" value="register">submit </button>
    </td>
    </tr>
    </table>
    </form>
    </center>
   </html>
}
